<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Admin Mensagem</title>
</head>


<body>
    <header class="header">  
        <a href="/" class="HeaderButton" >Home</a>
        <a href="/admin" class="HeaderButton">Admin</a>
    </header>
    <div class="mainContainer">
        <form action="/admin/salvar-texto" method="POST">

            <div class="mb-3">
                
                <textarea placeholder="Adicione nova sorte..." name="texto" id="texto" class="form-control" ></textarea>
            </div>
    
            <input type="submit" value="Criar" class="button">
        </form>

    </div>
    

    
</body>
</html>