<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biscoito da Sorte</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header class="header">  
            <a href="/" class="HeaderButton" >Home</a>
            <a href="/admin" class="HeaderButton">Admin</a>
    </header>

    <div class="mainContainer">
        <img class="logo" src="/img/fortune-cookie.png" alt="">
    <header>
        
        <h1>Biscoito da Sorte</h1>
    </header>

    <main>
        <h2><%= texto %></h2>
        
    </main>
    <a class="button" href="/">Gerar Sorte</a>
    </div>

    

</body>

</html>